Let us add 1+1

In [2]:
1+1

2

In [1]:
print(1+1)

2

In [9]:
print("Norge")

Norge

In [12]:
print("Hello")

Hello

This is our first handout

In [1]:
#Here is a simple bit of code that defines a set  N=1,2,3,4,5  and calculates the sum of the squared elements of this set:
N = {1,2,3,4,5}
print('The sum of the squares is equal to ', sum(i*i for i in N) )

The sum of the squares is equal to  55

In [3]:
#Now let us do a similar exercise using a set M=2,4,6,8
N = {2,4,6,8}
print('The sum of the squares is equal to ', sum(i*i for i in N) )

The sum of the squares is equal to  120

In [6]:
#Basic syntax for statements¶
#The basic rules for writing simple statments and expressions in Python are:

#No spaces or tab characters allowed at the start of a statement: Indentation plays a special. Ensure that all statements 
#start at the beginning of the line.

#The '#' character indicates that the rest of the line is a comment

#Statements finish at the end of the line:

#Except when there is an open bracket or parenthesis:
1+1
+1  #illegal continuation of the sum
(1+1
         + 1) # perfectly OK even with spaces

3

In [8]:
#A single backslash at the end of the line can also be used to indicate that a statement is still incomplete
1 + \
1+ 1 # this is also OK
#The jupyter notebook system for writting Python intersperses text (like this) with Python statements. 
#Try typing something into the cell (box) below and press the 'run cell' button above (triangle+line symbol) to execute it.

3

In [10]:
1+10+100

111

Python has extensive help built in. You can execute help() for an overview or help(x) for any library, object or type x to get more information. For example:

In [16]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [18]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

Variables & Values:
A name that is used to denote something or a value is called a variable. In Python, variables can be declared and values can be assigned to it as follows

In [19]:
x = 1          # anything after a '#' is a comment
y = 2
xy = 'Hi'
print(x+y, xy) # not really necessary as the last value in a bit of code is displayed by default

3 Hi

Multiple variables can be assigned with the same value

In [20]:
x = y = 1
print(x,y)

1 1

The basic types build into Python include float (floating point numbers), int (integers), str (unicode character strings) and bool (boolean). Some examples of each:

In [24]:
3.0           # a simple floating point number
1e1000         # a googol 
-1234567890   # an integer
True or False # the two possible boolean values
'This is a string'
"It's another string"
print("""Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively \n is a newline character (\t for tab, \\ is a single backslash)""")

Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively
 is a newline character (	 for tab, \ is a single backslash)

### Operators
Arithmetic Operators

|Symbol||Task Performed|
|------||--------------|
|+     ||Addition|
|-	|  ||Subtraction|
|/	   ||division|
|%|    ||mod|
|*     ||multiplication|
|//    ||floor division|
|**	   ||to the power of|

### Relational Operators

|Symbol||Task Performed|
|------||--------------|
|==    ||True, if it is equal|
|!=	|  ||True, if not equal to|
|<	   ||less than|
|>|    ||greater than|
|<=     ||less than or equal to|
|>=    ||greater than or equal to|

Note the difference between == (equality test) and = (assignment)

In [32]:
q=2
q==2

True

In [33]:
q>5

False

## Mathematical functions¶

### Mathematical functions include the usual suspects like logarithms, trigonometric fuctions, the constant  π  and so on.

In [37]:
import math
math.sin(math.pi/2)
from math import * # avoid having to put a math. in front of every mathematical function
sin(pi/2) # equivalent to the statement above

-1.0

In [40]:
cos(pi/4)

0.7071067811865476

In [41]:
sin(3*pi/2)

-1.0

### Simplifying Arithmetic Operations

#### round( ) function rounds the input value to a specified number of places or to the nearest integer.

In [47]:
print( round(0.923764) )
print( round(0.923764, 2) )
print( round(0.923764,3 ) )
print( round(0.923764, 4) )

1
0.92
0.924
0.9238

In [48]:
print( round(5.9234) )
print( round(4.57991, 2) )
print( round(5.6231,3 ) )
print( round(6.45792, 4) )

6
4.58
5.623
6.4579

### Working with strings¶

As seen previously, The print() function prints all of its arguments as strings, separated by spaces and follows 
by a linebreak:

- print("Hello World")
- print("Hello",'World')
- print("Hello", <Variable Containing the String>)

In [7]:
print("Hello","Data")

Hello Data

In [8]:
print("Applied","Machine","Learning")

Applied Machine Learning

The print has some optional arguments to control where and how to print. This includes sep the separator (default space) 
and end (end charcter) and file to write to a file.

In [9]:
print("Hello","World",sep='...',end='!!')

Hello...World!!

In [11]:
print("Perez","Norge",sep=',',end=' Jr.')

Perez,Norge Jr.

There are lots of methods for formating and manipulating strings built into python. Some of these are illustrated here.

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between 
the strings.string1='World' string2='!' print('Hello' + string1 + string2)

In [13]:
string1=' World'
string2='!'
print('Hello' + string1 + string2)

Hello World!

The % operator is used to format a string inserting the value that comes after. It relies on the string containing a 
format specifier that identifies where to insert the value. The most common types of format specifiers are:

The % operator is used to format a string inserting the value that comes after. It relies on the string containing a 
format specifier that identifies where to insert the value. The most common types of format specifiers are:

- %s -> string
- %d -> Integer
- %f -> Float
- %o -> Octal
- %x -> Hexadecimal
- %e -> exponential

In [14]:
print("Hello %s" % string1)
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)
print("Octal equivalent of the number = %o" %18)
print("Hexadecimal equivalent of the number = %x" %18)
print("Exponential equivalent of the number = %e" %18)

Hello  World
Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parenthesis is used. Values are inserted in the order they appear in the paranthesis

In [15]:
print("Hello %s %s. Temperature today is %d F" %(string1,string2,42))

Hello  World !. Temperature today is 42 F

Strings can be tranformed by a variety of functions:

In [18]:
s="I am a data analyst"
print(s.capitalize())
print(s.upper())
print(s.lower())
print(s.replace("analyst","scientist"))

I am a data analyst
I AM A DATA ANALYST
i am a data analyst
I am a data scientist